<div id="show-job">
  <div class="show-job-image">
    <%= image_tag @job.image_url %>
    <div class="show-over-description"><%= @job.title %></div>
  </div>
  <div class="show-job-desc">
    <%= @job.description %>
    <div class="show-job-author">
      <b>Автор: <%= name_in_header(@job.user) %></b>
    </div>
  </div>
</div>