<div id="about-text">
  RE-STYLE - это сообщество дизайнеров и фотографов, где любой пользователь может делиться своими работами, другие же дизайнеры могут ее оценить, прокомментировать. Если ваша работа будет оценена другими дизайнерами, возможно она попадет в "Топ 12". 
</div>