<div id="contacts">
  <h1 class="contacts-title">Контакты:</h1>
  <div id="content-contacts">
    <ul>
      <li>e-mail: lagox.mail@gmail.com</li>
      <li>телефон: +7 775 758 45 73</li>
      <li>skype: lagox.skype</li>
      <li>адрес: Костанай, Абая 165, 4 кабинет</li>
    </ul>
  </div>
</div>