#show-job{
  // border:1px solid #ccc;
  margin-top:10px;
  margin-bottom:20px;
  .show-job-title{
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
  }
  .show-job-image{
    margin-left:80px;
    img{
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      -o-border-radius:5px;
      border:1px solid #6A6A6A;
      width:600px;
      height:400px;
    }
  }
  .show-job-desc{
    font-size:11px;
    padding:5px;
    width:670px;
    margin:20px auto;
    color:#474747;
    background:#F6F6F6;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -o-border-radius:10px;
    .show-job-author{
      margin-top:10px;
    }
  }
}