#show-job{
  // border:1px solid #ccc;
  margin-top:10px;
  margin-bottom:20px;
  .show-job-title{
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
  }
  .show-job-image{
    position:relative;
    margin-left:80px;
    img{
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      -o-border-radius:5px;
      border:1px solid #6A6A6A;
      width:600px;
      height:400px;
    }
    .show-over-description{
      position:absolute;
      bottom:35px;
      width:420px;
      min-height:40px;
      left:0;
      font-size:22px;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.8);
      padding:15px 5px 5px 15px;
      color:#fff;
      &:hover{
        background: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .show-job-desc{
    font-size:11px;
    padding:5px;
    width:670px;
    margin:20px auto 10px auto;
   .show-job-author{
      margin-top:10px;
    }
  }
}
.actions-with-job{
  text-align:right;
  font-size:11px;
}
.job-comments{
  margin:10px 0px 20px 10px;
  .one-job-comment{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -o-border-radius:5px;
    border-bottom:1px solid #eee;
    margin-bottom:7px;
    padding:5px;
    &:hover{
      background:#F2F2F2;
    }
    .text-comment{
      font-size:12px;
      margin:5px 2px 3px 5px;
      float:left;
    }
    .name-user-comment{
      a{
        text-decoration:none;
        &:hover{
          text-decoration:underline;
        }
      }
      font-size:10px;
      margin-bottom:3px;
      .comment-date{
        font-size:8px;
      }
    }
    .avatar-comment{
      float:left;
      a{
        &:hover{
          opacity:0.7;
        }
      }
      img{
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        -o-border-radius:5px;       
        width:32px;
        height:32px;
      }
    }
  }
}
.link_to_comment{
  margin-left:10px;
}