#show-job{
  // border:1px solid #ccc;
  margin-top:10px;
  margin-bottom:20px;
  .show-job-title{
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
  }
  .show-job-image{
    position:relative;
    margin-left:80px;
    img{
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      -o-border-radius:5px;
      border:1px solid #6A6A6A;
      width:600px;
      height:400px;
    }
    .show-over-description{
      position:absolute;
      bottom:35px;
      width:420px;
      min-height:40px;
      left:0;
      font-size:22px;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.8);
      padding:15px 5px 5px 5px;
      color:#fff;
    }
  }
  .show-job-desc{
    font-size:11px;
    padding:5px;
    width:670px;
    margin:20px auto;
   .show-job-author{
      margin-top:10px;
    }
  }
}