// Copyright Kussainov Yerlan. 2012
body{
  font:16px/1.3 "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;
  a{
    color:#5E5E5E;
  }
    background-image:url('/assets/bglines.png');
}
#wrapper{
  width:90%;
  border:1px solid #ccc;
  background:#fff;
  margin:0 auto;
  // header
  header{
    background-image:url('/assets/bglines.png');
  }
  #header{
    height:80px;
    background-color: rgba(0, 0, 0, 0.45);
    
    a{
      color:#fff;
    }
    #site-title{
      padding-top:20px;
      margin-left:40px;
      font-size:24px;
      // border:1px solid #ccc;
      a{
        text-decoration:none;
        &:hover{
          color:#EBEBEB;
        }
      }
    }
    #auth-user{
      position:relative;
      float:right;
      bottom:25px;
      right:10px;
      width:180px;
      #login-link{
        text-decoration: none;
        font-size:12px;
        display: block;
        width:50px;
        padding:5px 5px 5px 15px;
        &:hover{
          text-decoration:underline;
        }
      }
      #signup-link{
        margin-top:5px;
        text-decoration:none;
        margin-right:30px;
        float:right;
        font-size:12px;
        &:hover{
          text-decoration:underline;
        }
      }
      .active-login-link{
        background:#DCE2CC;
      }
      form{
        position:absolute;
        z-index:2;
        display:none;
        background:#DCE2CC;
        padding:10px;
        -webkit-border-radius:0px 0px 5px 5px;
        -moz-border-radius:0px 0px 5px 5px;
        border-radius:0px 0px 5px 5px;
        -o-border-radius:0px 0px 5px 5px;
        .a-username{
          display: block;
          margin-bottom:7px;
        }
        .a-password{
          display: block;
          margin-bottom:7px;
        }
        .a-submit{
          display: block;
        }    
        input[type=text], input[type=password]{
          border:none;
          padding:2px;
        }    
      }

    }
  }
  
  // main content
  #main-content{
    // border:1px solid #ccc;
    min-height:350px;
    margin-top:5px;
    margin-bottom:10px;
    padding:5px;
    width:100%;
    #sidebar{
      width:19%;
      float:left;
      padding:10px 5px;
      // border:1px solid #eee;
      .title-category{
        font-size:18px;
        margin-bottom:5px;
        color:#646464;
      }
      ul{
        li{
          margin:1px 2px 1px 4px;
          a{
            color:#898989;
            font-size:12px;
            &:hover{
              color:#5C5C5C;
              text-decoration:none;
            }
          }
        }
      }
    }
    #content{
      float:left;
      width:75%;
      margin-left:15px;
      // border:1px solid #ccc;
      min-height:450px;
    }
  }
  
  // footer
  #footer{
    clear:both;
    height:50px;
    background:#F6F6F6;
    #copyright{
      font-size:11px;
      padding-top:20px;
      margin-left:30px;
    }
  }
  
}

.clear{
  clear:both;
}