// Copyright Kussainov Yerlan. 2012
body{
  font:16px/1.3 "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;
  a{
    color:#5E5E5E;
  }
  background-image:url('/assets/bglines.png');  
}
#main-wrapper{
  background-color: rgba(0, 0, 0, 0.3);
  min-height:690px;
}
#wrapper{
  width:1000px;
  // border:1px solid #ccc;
  background:#fff;
  margin:0 auto;
  // header
  header{
    background-image:url('/assets/bglines.png');
  }
  #header{
    height:80px;
    background-color: rgba(0, 0, 0, 0.6);
    a{
      color:#fff;
    }
    #site-title{
      padding-top:20px;
      margin-left:40px;
      font-size:24px;
      // border:1px solid #ccc;
      a{
        text-decoration:none;
        &:hover{
          color:#EBEBEB;
        }
      }
    }
    #auth-user{
      position:relative;
      float:right;
      bottom:25px;
      right:10px;
      width:180px;
      #login-as{
        font-size:11px;
        margin-top:-10px;
        color:#FBFBFB;
        text-align:right;
        // border:1px solid #ccc;
        margin-left:-30px;
        a{
          color:#FBFBFB;
          text-decoration:none;
          &:hover{
            text-decoration:underline;
          }
        }
        #logout-button{
          margin-top:5px;
          text-align:right;
          // margin-right:14px;
        }
      }
      #login-link{
        text-decoration: none;
        font-size:12px;
        display: block;
        width:50px;
        padding:5px 5px 5px 15px;
        &:hover{
          text-decoration:underline;
        }
      }
      #signup-link{
        margin-top:5px;
        text-decoration:none;
        margin-right:30px;
        float:right;
        font-size:12px;
        &:hover{
          text-decoration:underline;
        }
      }
      .active-login-link{
        background:#878787;
        opacity:0.8;
      }
      form{
        position:absolute;
        z-index:2;
        display:none;
        background:#878787;
        opacity:0.8;
        padding:10px;
        -webkit-border-radius:0px 0px 5px 5px;
        -moz-border-radius:0px 0px 5px 5px;
        border-radius:0px 0px 5px 5px;
        -o-border-radius:0px 0px 5px 5px;
        .a-username{
          display: block;
          margin-bottom:7px;
        }
        .a-password{
          display: block;
          margin-bottom:7px;
        }
        .a-submit{
          display: block;
        }    
        input[type=text], input[type=password]{
          border:none;
          padding:2px;
        }    
      }

    }
  }
  
  // main content
  #main-content{
    // border:1px solid #ccc;
    min-height:350px;
    margin-top:5px;
    margin-bottom:10px;
    padding:5px;
    #sidebar{
      width:200px;
      // border:1px solid #ccc;
      float:left;
      padding:10px 5px;
      .upload-job{
        text-decoration:none;
        display:block;
        padding:5px;
        font-size:11px;
        background:#A5CB8C;
        width:110px;
        color:#fff;
        margin:0px 5px 20px 0px;
        // margin-bottom:20px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        -o-border-radius:5px;
        text-align:center;
        &:hover{
          color:#696969;
          background:#CDE9C0;
        }
      }
      // border:1px solid #eee;
      .title-category{
        font-size:16px;
        margin-bottom:5px;
        color:#646464;
      }
      .content-sidebar{
        margin:1px 2px 20px 4px;
      }
      a{
        text-decoration:none;
        color:#898989;
        font-size:12px;
        &:hover{
          color:#5C5C5C;
          text-decoration:none;
        }
      }
      ul{
        li{
          margin-bottom:-2px;
          a{
            color:#898989;
            font-size:12px;
            &:hover{
              color:#5C5C5C;
              text-decoration:underline;
            }
          }
        }
      }
    }
    #content{
      float:left;
      width:750px;
      margin-left:15px;
      // border:1px solid #ccc;
      min-height:450px;
    }
  }
  
  // footer
  footer{
    background-image:url('/assets/bglines.png');
    clear:both;
    height:50px;
    #footer{  
      height:50px;
      background-color: rgba(0, 0, 0, 0.6);
      color:#fff;
      #copyright{
        font-size:11px;
        padding-top:20px;
        margin-left:30px;
      }
    }
  }
}

.clear{
  clear:both;
}

// alerts:
.alert-success{
  color:#7AC158;
  font-size:11px;
  padding:5px;
  border:1px solid #CCF9A4;
  background:#FCFCFC;
}
.alert-error{
  color:#CC6859;
  font-size:11px;
  padding:5px;
  border:1px solid #F1B297;
  background:#FCFCFC;
}
// errors:
.errorExplanation{
  border:1px solid #F1B297;
  padding:5px;
  font-size:11px;
  color:#CC6859;
  margin-bottom:20px;
  background:#FCFCFC;
  .error-title{
    font-weight:bold;
    margin-bottom:5px;
  }
  ul{
    margin-left:10px;
  }
}

// forms:
form{
  .field{
    margin:2px 0px 10px 0px;
    label{
      display:block;
      margin-bottom:2px;
    }
    input, textarea{
      border:1px solid #ccc;
      padding:3px;
      font-size:12px;
    }
    input[type=file]{
      border:none;
    }
  }
  .actions{
    margin:10px 0px;
  }
}

.title-form{
  margin-top:10px;
  margin-bottom:10px;
  font-size:25px;
}
// paginate
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover, .pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a{
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pagination .current{
  float:left;
  color:#DADADA;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination span.nextdis{
  float:left;
  color:#DADADA;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.page-title{
  font-size:20px;
  margin-top:5px;
  margin-bottom:15px;
}
#add-comment-no-user{
  font-size:11px;
  margin-top:30px;
  color:#5C5C5C;
  text-align:center;
}
#add-comment-link{
  display: inline-block;
  color:#515151;
  padding-bottom:2px;
  border-bottom:1px dashed #515151;
  &:hover{
    cursor:pointer;
    color:#898989;
    border-bottom:1px dashed #898989;
  }
}
#form-comment{
  display:none;
  margin:0px 0px 0px 10px;
  margin-top:10px;
  .field{
    label{
      font-size:12px;
      margin-bottom:-13px;
      color:#5D5D5D;
    }
    textarea{
      width:400px;
      height:100px;
      border:2px solid #ccc;
      &:focus{
        border:2px solid #eee;
      }
    }
  }
}