#show-user{
  border:1px solid #eee;
  padding:10px;
  font-size:12px;
  .email-user{
    margin-bottom:10px;
  }
  .created-at-user{
    font-size:11px;
  }
}
#all-users{
  // border:1px solid #ccc;
  padding:10px;
  font-size:12px;
  .user-l{
    margin-bottom:7px;
  }
}