<div id="category-description">
  <%= @category.description %>
</div>
<div class="jobs-in-category">
  <% @jobs.each do |j| %>
    <%= link_to image_tag(j.image_url(:thumb)), j %>
  <% end %>
</div>
<%= paginate @jobs %>

