<div id="category-description">
  <%= @category.description %>
</div>
<div class="jobs-in-category">
  <% @jobs.each do |j| %>
    <div class="one-job-category">
    <%= link_to image_tag(j.image_url(:thumb)), j %>
    <div class="over-description"><%= j.title %></div>
    </div>
  <% end %>  
  <div class="clear"></div>
</div>
<%= paginate @jobs %>

