<!-- sidebar -->
<div id="sidebar">
  <h1 class="title-category">Категории</h1>
  <ul class="content-sidebar">
    <% @list_categories.each do |c| %>
      <li><%= link_to c.title, c %></li>
    <% end %>
  </ul>
  <h1 class="title-category">Разное</h1>
  <div class="content-sidebar">
    <%= link_to "Все дизайнеры", users_path %>  
  </div>
  
</div>