<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <!-- header -->
    <div id="header">
      <h1 id="site-title"><a href="/">Des-Engine</a></h1>
      <div id="auth-user">
                        <a href="#" id="signup-link">Регистрация</a>
        <a href="#" id="login-link">Войти</a>
        <form action="">
          <input type="text" name="username" class="a-username" placeholder="логин">
          <input type="password" name="password" class="a-password" placeholder="пароль">
          <input type="submit" value="Войти" class="a-subit">
        </form>
      </div>
    </div>
    <!-- main content -->
    <div id="main-content">
      <!-- sidebar -->
      <div id="sidebar">
        <h1 class="title-category">Категории</h1>
        <ul>
          <li><a href="#">Веб-дизайн</a></li>
          <li><a href="#">Полиграфия</a></li>
          <li><a href="#">3D</a></li>
          <li><a href="#">Анимация</a></li>
          <li><a href="#">Иконки</a></li>
        </ul>
      </div>
      <!-- content -->
      <div id="content">
        контент
      </div>
    </div>
    <!-- footer -->
    <div id="footer">
      <div id="copyright">&copy 2012. Кусаинов Ерлан</div>
    </div>
  </div>
</body>
</html>
